
/*    

@media screen and (min-width:1024px)  {
    .box{
        width:50%;
     
        min-height: 60%;
   bottom: 15%;

    }
    .container{
        height: 70%;
    } 
  

   
}
@media screen and  (max-width:1024px){
     
    #projectsSection{
    position: absolute;
    top: -7%;
    }
    
} */




